/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 трав. 2017, 16:05:35
    Author     : Ivan
*/
/*#main{
    
}
.leftBlock{
float: left;
padding: 10px;  Поля вокруг текста  
width:30%;
margin-left:40px;
}
.photo{ 
padding: 10px;
margin-left:20px;
width:30%;
}*/



.cours{
/*    padding: 20%;  Поля вокруг текста */
/*   float: left;  Обтекание по правому краю 
   margin-right: 20px;  Отступ справа */
/*   width: 30%;  Ширина блока */

}