<?xml version="1.0" encoding="windows-1251"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>servlets.Dispatcher</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CheckUser</servlet-name>
    <servlet-class>servlets.CheckUsername</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlets.Registration</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DownloadInf</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>servlets.CancelServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/Cancel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>/Dispatcher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadInf</servlet-name>
    <url-pattern>/DownloadInf</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>