<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>uploadpack.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>uploadpack.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstViewServlet</servlet-name>
        <servlet-class>TeacherSystem.FirstViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondViewServlet</servlet-name>
        <servlet-class>TeacherSystem.SecondViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>servlets.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>servlets.CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadInf</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel</servlet-name>
        <servlet-class>servlets.CancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesServlet</servlet-name>
        <servlet-class>TeacherSystem.CoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Corse1Servlet</servlet-name>
        <servlet-class>TeacherSystem.Corse1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
        D:\1\sdn_1\web\uploads\
     </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstViewServlet</servlet-name>
        <url-pattern>/FirstViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondViewServlet</servlet-name>
        <url-pattern>/SecondViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel</servlet-name>
        <url-pattern>/Cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadInf</servlet-name>
        <url-pattern>/DownloadInf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesServlet</servlet-name>
        <url-pattern>/CoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Corse1Servlet</servlet-name>
        <url-pattern>/Corse1Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
